font-family-yu-gothic()
  font-family 'Yu Gothic', '游ゴシック', YuGothic, sans-serif
  letter-spacing .04em
font-family-roboto()
  font-family 'Roboto', sans-serif
font-family-arial()
  font-family 'Arial', sans-serif
  letter-spacing .04em
