@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');

body {
  margin: 0;
}

.hind {
  font-family: 'Hind', sans-serif;
}

.yu-gothic {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.ca-particles {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

ul.form {
  width: 100%;
  list-style: none;
  padding: 0;
  display: grid;
  justify-content: center;
  gap: 20px;
}

ul.form.no2 li {
  width: 235px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

}

ul.form.no2 li.select {
  width: 100%;
  grid-column: 1/3;
  grid-row: 3/4;
}

ul.form.no2 li.select .MuiFormControl-root {
  width: 100%;
}

/* ul.form.no2 {
  grid-template-columns: 1fr 1fr;
} */

.result-table {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 30px;
  border: solid 1px #C3C3C3;
  border-collapse: collapse;
  border-spacing: 0;
}

.result-table th {
  min-width: 160px;
  background-color: #E3E3E3;
  text-align: left;
  padding: 15px;
  box-sizing: border-box;
  border-right: solid 1px #C3C3C3;
  border-bottom: solid 1px #C3C3C3;
}

.result-table td {
  padding: 15px;
  border-bottom: solid 1px #C3C3C3;
  font-weight: bold;
}

.result-table td .btn-toggle {
  min-width: 140px;
  display: flex;
  align-items: center;
  line-height: 30px;
  background: #555555;
  color: #fff;
  outline: none;
  appearance: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
  border-radius: 5px;
}

.result-table td .btn-toggle span {
  width: 100px;
}


.result-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 50px;
}

.result-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.result-list li span {
  min-width: 70px;
  padding: 3px 10px 0;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  font-size: 30px;
  background-color: #E2EEF0;
  border-radius: 10px;
  text-align: center;
}


.result-list.pfc {
  flex-direction: column;
}

.result-list.pfc li {
  gap: 10px 30px;
}


.result-list.pfc li div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.result-list.pfc li div.name {
  width: 150px;
}

.result-list.pfc li div.icon {
  width: 36px;
  line-height: 33px;
  background: #AA2121;
  color: #FFF;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Hind', sans-serif;
  border-radius: 50%;
  padding: 3px 0 0 1px;
  box-sizing: border-box;
  justify-content: center;
}
