.contents section {
  width: 300px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.hover a {
  text-decoration: none;
  color: #fff;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  text-align: center;
  transition: .3s;
  border: solid 1px transparent;
  border-radius: 20px;
}

.hover a:hover {
  background-color: #fff;
  color: #222;
  border-color: #222;
}

.contents section.accordion {
  display: block;
}

.ac {
    max-width: 500px;
    margin-bottom: 7px;
    border: 2px solid #d0d0d0;
    border-radius: 5px;
}

.ac summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    color: #333333;
    font-weight: 600;
    cursor: pointer;
}

.ac summary::-webkit-details-marker {
    display: none;
}

.ac summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #333333b3;
    border-right: 3px solid #333333b3;
    content: '';
    transition: transform .3s;
}

.ac[open] summary::after {
    transform: rotate(225deg);
}

.ac p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: .3em 2em 1.5em;
    color: #333333;
    transition: transform .5s, opacity .5s;
}

.ac[open] p {
    transform: none;
    opacity: 1;
}
